################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Be.Auto.Servicestack.OrmLite.Devexpress/bin/Debug
/Be.Auto.Servicestack.OrmLite.Devexpress/obj
/.vs/Be.Auto.Servicestack.OrmLite.Devexpress
/.vs
/Be.Auto.Servicestack.OrmLite.Devexpress/bin/Release
/Demo/bin
/Demo/obj
